body {
  font-family: "Noto Sansz";
  font-style: normal;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  background: #163a24;
}
.header_logo {
  width: 153px;
  height: 58px;
}
.header_list {
  list-style: none;
  color: #fbfaf7;
  text-align: right;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_btn {
  width: 141px;
  height: 52px;
  border-radius: 160px;
  background: #198c36;
  width: 91px;
  color: #fbfaf7;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}
.rn_sh {
    width: 1440px;
    height: 544px;
    background: #163A24;
}
.rn_sh_tagline {
    width: 391px;
    color: #FBFAF7;
    font-family: Recoleta;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px;
}
.rn_sh_overview {
    width: 475px;
    color: #FBFAF7;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
